.title {
    align-items: center;
}
textarea {
    width: 60vw;
    height: 400px;
    display: block;
}
#memo-textarea1 {
    max-height:40vh;
    padding: 5px;
}
#memo-textarea2 {
    max-height:15vh;
    padding: 5px;
}
#memo-textarea3 {
    max-height:15vh;
    padding: 5px;
}
label {
    font-size: 25px;
}
label:hover {
    cursor: pointer;
}
label input[type="checkbox"] {
    width: 25px;
    height: 25px;
}
label input[type="checkbox"]:hover {
    cursor: pointer;
}
label input[type="checkbox"]:checked {
    background-color: #000;
}
#clientname {
    width: 80px;
}
.maintemp {
    width: calc( 70% - 20px );
}
.sidebar {
    justify-content: space-around;
    width: 30%;
}
input[type="text"] {
    width: 80px;
    padding: 3px;
    display: flex;
}
.greeting {
    display: flex;
    margin-top: 5px;
}
#greeting {
    margin: 10px 0;
    padding: 5px;
    width: 500px;
}
.signature{
    display: flex;
}
#spname {
    width: 450px;
    display: flex;
}
#answer {
    padding: 5px;
    width: 100%;
    height: 50vh;
    display: block;
    margin: 0 10px 20px 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    text-decoration: none;
}
button {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #000;
}
button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.sidecontain {
    height: calc(88vh - 1px);
    overflow-y: scroll;
}
.sidebar li {
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}
.sidebar li:nth-child(2n) {
    background-color: #f0f0f0;
}
.template {
    padding: 10px;
    width: 100%;
}
.aside-button {
    width: 100%;
}
